@import 'variables';

:host {
  &:hover {
    i {
      visibility: visible;
    }
  }
}

i {
  cursor: pointer;
  width: 1em;
  height: 1em;
  visibility: hidden;
  color: var(--green-12);
}

i.checked {
  opacity: 0.3;
}
