:host {
  &:hover {
    i {
      visibility: visible;
    }
  }
}

i {
  cursor: pointer;
  width: 1em;
  height: 1em;
  visibility: hidden;
}

i.checked {
  color: #f0dfa0; // TODO: color scheme vars
}
