@import 'variables';

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';
  gap: 10px;
  padding: 0 20px;
  background-color: var(--background-color);
  color: var(--gray-12);
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

.someday {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}

::ng-deep .cdk-overlay-pane {
  animation: slide-up 0.3s ease-out;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@media (min-width: 900px) {
  .someday {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  footer {
    text-align: left;
  }
}
