.input-root {
    position: relative;
    height: 40px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:focus-within {
        background-color: #fff;
    }
}

.input-root.focus {
    border: none;
    border-radius: 5px;
    transform: scale(1.05);
    box-shadow: rgba(175, 173, 173, 0.16) 0px 1px 4px;
    z-index: 999;

    .checkbox{
        background-color: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.input-root.hover {
    border-bottom: 1px solid #ADD1DC; // TODO: color scheme vars
}

input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 8px;

    &:disabled {
        background-color: #fff;
    }

    &:focus {
        outline: none;
    }
}

input.completed, span.completed {
    text-decoration: line-through;
    opacity: .3;
}

i.bi-stickies {
    margin-left: 4px;
    font-size: .8rem;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

span.title {
    cursor: pointer;
    border-radius: 11px;
    padding: 0 6px;
    // background-color: blue;
    // color: #fff;
    display: inline-block;
    max-width: calc(100% - 14px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
