.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 1.6rem;
  text-wrap: nowrap;
  white-space: nowrap;
}

.day {
  * {
    display: inline;
    vertical-align: middle;
  }

  .icon-stack {
    display: inline-flex;
    flex-direction: row;
    gap: 2px;
  }

  h1 {
    font-weight: 600;
    margin: 0;
    margin-right: 5px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
  font-size: 0.6rem;

  li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: relative;
    cursor: pointer;
    &:first-child {
      background-color: #add1dc;
      color: #fff;
      &::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: solid 3px #add1dc;
        border-radius: 50%;
      }
    }

    &.isTouched:first-child::before {
      animation: ripple 2s linear infinite;
    }

    &:first-child {
      i {
        position: absolute;
        top: 10%;
      }
    }
  }

  i.bi-arrow-right,
  i.bi-arrow-left {
    height: 80%;
  }

  i {
    font-size: 1.5em;
  }
}

a i {
  color: #f5f3e8;
}

a {
  text-decoration: none;
}

.menu {
  background-color: #add1dc;
  width: 160px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: black;

    span {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 50%;
      background-color: #add1dc;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(-2px);
      }
    }

    p {
      font-size: clamp(12px, 1rem, 18px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      margin: 0;
      padding: 0 5px;
    }
    margin-bottom: 10px;
  }

  // TODO: make this a common style
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    gap: 10px;
    height: 50px;
    width: 100%;
    padding: 10px;
    transition: all 0.2s ease;

    i {
      font-size: 1.5rem;
      flex-shrink: 0;
    }

    &:hover {
      background-color: hsl(39, 100%, 97%);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 2rem;
  }

  .day {
    i {
      font-size: 1.5em;
    }

    .icon-stack {
      display: inline-flex;
      flex-direction: row;
    }

    h1 {
      margin-right: 10px;
    }
  }

  ul {
    li {
      width: 50px !important;
      height: 50px !important;
    }

    i {
      font-size: 3em !important;
      width: 1em !important;
    }
  }
}
