.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 1.6rem;
    text-wrap: nowrap;
    white-space: nowrap;
}

svg {
    width: 1.8rem;
    height: 1.8rem;
}

@media (min-width: 900px) {
    h1 {
        font-size: 2rem;
    }

    svg {
        width: 3rem;
        height: 3rem;
        top: -10px;
    }
}

.day {
    position: relative;
    * {
        display: inline;
    }

    h1 {
        font-weight: 600;
        margin: 0;
        margin-right: 10px;
    }

    svg {
        position: absolute;
        // top: -10px;
        fill: #CAA171; // TODO: color scheme vars
    }
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
    font-size: .6rem;

    li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #f0f0f0;
        position: relative;
        cursor: pointer;
        &:first-child {
            background-color: #ADD1DC;
            color: #fff;
            &::before {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border: solid 3px #ADD1DC;
                border-radius: 50%
            }
        }

        &.isTouched:first-child::before {
            animation: ripple 2s linear infinite;
        }

        &:first-child {
            i {
                position: absolute;
                top: 10%;
            }
        }
    }

    i {
        font-size: 3em;
        width: 1em;
        height: 1em;
    }

    i.bi-arrow-right, i.bi-arrow-left {
        height: 80%;
    }
}

.tooltip {
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translateX(-50%);
    text-wrap: nowrap;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s, .2s;
    transition-duration: .2s, 0s;
    transition-property: opacity, visibility;
    font-size: .8rem;
    background-color: #222c;
    color: #fff;
    padding: 0 6px;
    border-radius: 5px;
}

.tooltip.visible {
    opacity: 100%;
    visibility: visible;
}

a i {
    color: #F5F3E8;
}

a {
    text-decoration: none;
}

@keyframes ripple {
    to {
        transform: scale(2);
        opacity: 0;
    }
}

footer {
    text-align: center;
}