@import 'variables';

.day {
  .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
    border-bottom: 2px solid var(--green-8);
  }

  .header.isCurrent {
    border-bottom: 2px solid var(--blue-active);
    color: var(--blue-active);

    .day-name {
      color: var(--blue-active);
    }
  }

  .date {
    font-weight: bold;
  }

  .day-name {
    color: var(--green-11);
  }
}
