.input-root {
    position: relative;
    height: 40px;
    font-size: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-root.focus {
    border: none;
    border-radius: 5px;
    transform: scale(1.10);
    box-shadow: rgba(175, 173, 173, 0.16) 0px 1px 4px;
    z-index: 999;

    .checkbox{
        background-color: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.input-root.hover {
    border-color: blue;
}

input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 8px;

    &:disabled {
        background-color: #fff;
    }

    &:focus {
        outline: none;
    }
}

input.completed, span.completed {
    text-decoration: line-through;
    color: rgba(0, 0, 0, .3);
}

span {
    cursor: pointer;
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


// *** MODAL ***
.modal-backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 512px;
    height: auto;
    background-color: #FFC14A;
    border-radius: 20px;
    padding: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.modal-content {
    margin-bottom: 20px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-close {
    cursor: pointer;
}

// semi-response modal
@media (min-width: 900px) {
    .modal{
        width: 512px;
    }
}