.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto auto auto auto 50px;
    grid-template-areas:
        'header    header    header    header    header    header    header    header    header    header    header    header'
        'main      main      main      main      main      main      main      main      main      main      main      main'
        'main      main      main      main      main      main      main      main      main      main      main      main'
        'main      main      main      main      main      main      main      main      main      main      main      main'
        'main      main      main      main      main      main      main      main      main      main      main      main'
        'footer    footer    footer    footer    footer    footer    footer    footer    footer    footer    footer    footer';
    gap: 10px;
    height: 100vh;
    padding: 0 20px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}