:host {
    &:hover {
        i {
            visibility: visible;
        }
    }
}

i {
    cursor: pointer;
    width: 1em;
    height: 1em;
    visibility: hidden;
}

i.checked {
    color: rgba(0, 0, 0, 0.3);
}